build
src/node_modules/
src/log
src/dist
src/coverage
src/.nyc_output
src/temp
src/public/sunbird-plugins
src/openrap-sunbirded-plugin/content
src/openrap-sunbirded-plugin/ecars
src/openrap-sunbirded-plugin/telemetry_archived
src/openrap-sunbirded-plugin/temp
framework.config.d.ts
main.d.ts
src/database
src/openrap-sunbirded-plugin/data
src/telemetry_archived
